
#text_area_titulo{
    --color: black;
    --background-color: #E5E7EB;
    --highlight-color-focused:#EA580C;

}

#text_area_nota{
    --color: black;
    --background-color: #E5E7EB;
    --highlight-color-focused:#EA580C;
}

ion-title{

    color: black;
    font-family:'inter';
    font-weight: bold;
}

