
<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-title>{{ title }}</ion-title> 
     
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header collapse="condense">

  </ion-header>

<ion-item>

  <ion-icon name= "arrow-back-outline" (click)="regresar_a_materias()"></ion-icon>
  
</ion-item>






<ion-item>
  <ion-card (click)="abrir_bloc_notas()">
  <ion-card-header>
    <ion-card-title>Titulo de la nota</ion-card-title>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Saepe necessitatibus non facilis assumenda dolorem accusantium id rem. 
      Nihil eos aspernatur suscipit commodi rem 
      aperiam, sequi hic totam quasi vel reiciendis.</ion-card-content>
  </ion-card-header>
  </ion-card>
</ion-item>

<ion-item>
  <ion-card (click)="abrir_bloc_notas()">
  <ion-card-header>
    <ion-card-title>Titulo de la nota</ion-card-title>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Saepe necessitatibus non facilis assumenda dolorem accusantium id rem. 
      Nihil eos aspernatur suscipit commodi rem 
      aperiam, sequi hic totam quasi vel reiciendis.</ion-card-content>
  </ion-card-header>
  </ion-card>

</ion-item>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="abrir_bloc_notas()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


