<ion-header [translucent]="true">
<ion-toolbar>
    <ion-title class="titulo">
    Notas por materias
    </ion-title>
</ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
       <ion-title >
    Notas por materias
    </ion-title>
    </ion-toolbar>
  </ion-header>


  

  <ion-card>
  <ion-card-header>
    <ion-card-title  (click)="abrir_lista_notas()">Materia</ion-card-title>
  </ion-card-header>
  </ion-card>



  <ion-card>
  <ion-card-header>
    <ion-card-title (click)="abrir_lista_notas()">Materia</ion-card-title>
  </ion-card-header>
  </ion-card>

  





  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button  id="open-modal-materias" class="agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-modal trigger="open-modal-materias">
    <ng-template>
      <ion-header>
        <ion-toolbar>
                    
          <ion-title>Nueva Materia</ion-title>

          <ion-button [strong]="true" (click)="aceptar()" class="modal_buttons" expand="full">Aceptar</ion-button>
          <ion-button [strong]="true" (click)="cancelar()" class="modal_buttons" expand="full">Cancelar</ion-button>

           
        

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Nombre de la Materia</ion-label>
          <ion-input type="text" placeholder="Ej. Programación 1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="color" placeholder="selecciona un color"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

 

</ion-content>
