<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="black" class="titulo">
       Buenos Dias - {{ fechaactual | date: 'dd/MM/yyyy' }} <!--aqui se muestra el dia actual, usando el view engine de angular-->
       <!-- (ve al archivo tab1.page.ts)-->
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <ion-title color="black">
     
    </ion-title>
  </ion-header>

  <ion-text color="black">
    <h1>Tareas Proximas a vencer</h1>
  </ion-text>


  <ion-card class="card_note" *ngFor="let task of upcomingTasks">     <!-- en el ioncard debera mostrar el titulo de la tarea de la tarea y una breve descripcion la cual basta con tan solo 10 caracteres-->
    <!-- la cual se faltas dos horas antes de lo agregado en el datetime  para empezarla o cumplirla-->  <!--la fecha puesta en este ioncard es solo un ejemplo al igual que la descripcion-->
  <ion-card-header >
    <ion-card-title>{{ task.description }}</ion-card-title>
    <ion-card-subtitle>Vencimiento : {{ task.date }}</ion-card-subtitle>
  </ion-card-header>
   <ion-card-content>
    Tarea programada para {{ task.time }}
  </ion-card-content>

</ion-card>




   <ion-card class="card_note">
    <ion-card-header>
    <ion-card-title>Titulo de la tarea</ion-card-title>
    <ion-card-subtitle>vencimiento : 09/04/2026</ion-card-subtitle>
  </ion-card-header>


   <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  </ion-card>

</ion-content>
